.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 640px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  /* background-color: #aaaaaa; */
  background-color: rgba(0, 0, 0, 0.3);
}

.navButton {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #333333;
}

.selected {
  background-color: #333333;
  color: #ffffff;
}

.navLogin {
  /* width: calc(100% / 4); */
  width: 3rem;
}

.navLogout {
  /* width: calc(100% / 3); */
  width: 3rem;
}