.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 640px;
  background-color: rgb(255, 255, 255);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  /* background-color: #aaaaaa; */
  // background-color: rgba(0, 0, 0, 0.3);
  // background-color: rgb(255, 255, 255);
}

.btnBox {
  display: grid;
  place-content: center;
  place-items: center;
  grid-auto-flow: column;
  button {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.leaveModal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.leaveModalInner {
  display: grid;
  place-items: center;
  width: 50%;
  min-width: 280px;
  height: 70%;
  min-height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}