.background {
  display: flex;
  justify-content: center;
  background-color: #82B1FF;
  flex-grow: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}